:root{
    --primary: #26c0ab;
    --veryd-cyan: hsl(183, 100%, 15%);
    --dark-gray: hsl(186, 14%, 43%);
    --grayis-cyan: hsl(184, 14%, 56%);
    --light-gray: hsl(185, 41%, 84%);
    --veryl-gray: hsl(189, 41%, 97%);
    --white: #fff;
}
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.hidden{
    visibility: hidden;
}

body{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--light-gray);
    font-size: 18px;
    font-family: 'Space Mono', monospace;
}
input{
    font-size: 24px;
    text-align: end;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.tip-box{
    width: 795px;
    height: 415px;
    position: absolute;
    top: 29.6%;
    display: flex;
    justify-content: space-between;
    background-color: var(--white);
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0px 20px 30px 0px #2589943f;;
    opacity: 1;
}
.logo{
    position: absolute;
    top: 136px;
    transform: scale(.85);
}

.second-column-tip-box{
    background-color: var(--veryd-cyan);
    border-radius: 12px;
    max-width: 85%;
    width: 85%;
    height: 101%;
    padding: 20px 34px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--white);
}

.first-row{
    display: flex;
    justify-content: space-between;
    margin-top: 19px;
}
.second-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 78px;
}
.tip-money{
    color: var(--primary);
    font-size: 44px;
    font-weight: 700;
}
.tip-money p{
    position: relative;
}
.tip-money p svg{
    transform: scale(1.8);
    position: absolute;
    top: 18px;
    left: -17px;
}
.tip-amount{
    padding-top: 9px;
    font-size: 15px;
}
.span-tip{
    color: var(--dark-gray);
    font-weight: 700;
    font-size: 13px;
}

.reset-button{
    width: 100%;
    background-color: #0d696e;
    color: var(--veryd-cyan);
    padding: 13px;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    opacity: 1;
    font-size: 15px;
    margin-bottom: 15px;
    cursor: pointer;
}
.reset-button:hover{
    background-color: #9de1e7;
    opacity: 1;
}


.first-column-tip-box{
    width: 90%;
    margin-right: 35px;
    padding-left: 13px;;
}


.first-row-tip-box{
    display: flex;
    flex-direction: column;
    position: relative;
}
.first-row-tip-box label{
    margin-top: 12px;
    font-size: 15px;
    width: 98%;
    display: flex;
    justify-content: space-between;
}
.first-row-tip-box input{
    background: hsl(203, 50%, 97%);
    border: none;
    text-align: end;
    padding: 6px 15px;
    margin-top: 6px;
    border-radius: 5px;
    width: 98%;
}
.not-empty{
    color: var(--veryd-cyan);
    font-weight: 700;
}
.valid{
    outline: 2px solid var(--primary);
}
.invalid{
    outline: 2px solid #f83f3f;
    visibility: visible!important;
}
#invalid-text{
    color: red;
    font-size: 14px;
    visibility: hidden;
    outline: none;
}

#invalid-text2{
    color: red;
    font-size: 14px;
    visibility: hidden;
    outline: none;
}
.first-row-tip-box input:focus{
    outline: 2px solid var(--primary);
}
.first-row-tip-box svg{
    position: absolute;
    bottom: 12px;
    left: 14px;
}


.hidden{
    display: none;
}



.second-row-tip-box{
    margin-bottom: 20px;
}
.second-row-tip-box p{
    margin-top: 37px;
    font-size: 15px;
    color: #000;
}

.container-options{
    display: flex;
    flex-wrap: wrap;
}
.button-tip{
    width: 30%;
    background-color: var(--veryd-cyan);
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: var(--white);
    font-weight: 700;
    font-size: 20px;
    margin-top: 14px;
    cursor: pointer;
}
#five{
    margin-top: inherit 10px 10px 0;
    margin-right: 13px;
}
#ten{
    margin-right: 13px;
}
#twefive{
    margin-top: 12px;
    margin-right: 13px;
}
#fifty{
    margin-top: 12px;
    margin-right: 5px;
}
#custom{
    width: 30%;
    margin: auto;
    margin-top: 12px;
    padding: 8px 5px 6px 5px;
    border: none;
    border-radius: 5px;
    background-color: var(--veryl-gray);
}

#custom::placeholder{
    color: var(--veryd-cyan);
    font-weight: 700;
    font-size: 21px;
    text-align: center;
}

.third-row-tip-box{
    margin-top: 36px;
    font-size: 15px;
    color: #000;
    position: relative;
}
.third-row-tip-box label{
    display: flex;
    justify-content: space-between;
    width: 96%;
}
.third-row-tip-box input{
    margin-top: 7px;
    padding: 6px 11px 4px 11px;
    width: 97%;
    border-radius: 5px;
    border: none;
    text-align: end;
    background-color: var(--veryl-gray);
}

.third-row-tip-box svg{
    position: absolute;
    left: 13px;
    transform: scale(.9);
    bottom: 10px;
}
.button-tip:hover{
    color: var(--veryd-cyan);
    background-color: var(--primary);
    transition: all ease-in .1s;
}
.button-tip-checked{
    color: var(--veryd-cyan);
    background-color: #1a9282;
}

input:focus{
    outline: 2px solid var(--veryd-cyan)!important;
}